@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}

header nav {
    list-style: none;
}

#categories img {
    width: 100%;
    height: 100%;
}

#reviews img {
    width: 30%;
    height: 30%;
}

#personal-info {
    display: flex;
    flex-direction: row;
}

footer {
    border-top: 1px solid black;
}

footer ul {
    list-style: none;
}

footer span {
    font-weight: bold;
}